.imgContainer {
  width: 64px;
  height: 64px;
  border: 2px solid var(--color-image-cicle-border);
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
  padding: 15px;
  position: relative;
}
.img {
  width: 100px;
  height: 60px;
}
.lastImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  background: rgba(28, 28, 33, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
