.loader {
  width: 75px;
  height: 75px;
  border: 12px solid var(--color-loader-border);
  border-radius: 50%;
  border-left-color: var(--color-done);
  animation: loader 0.3s linear infinite;
}
 @keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
 