.wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orderNumber {
  box-sizing: border-box;
  height: 150px;
}
.orderStatusImage {
  width: 120px;
  height: 120px;
  background: url(../../images/graphics.svg);
  background-repeat: no-repeat;
  background-position: center;
  animation: scale .5s ease-out infinite;
  animation-iteration-count: 1;
}
.orderStatusText {
  margin-top: 0;
}
.orderInstruction {
  margin-bottom: 0;
  composes: orderStatusText;
}


@keyframes scale {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}