.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 180px;
}
.profile {
  composes: login;
  padding-top: 0;
  padding-left: 17.5%;
  align-items: flex-start;
}
