.item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.itemName {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orderPrice {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: end;
  white-space: nowrap;
}
.orderSum {
  margin: 0;
}

