.item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.itemName {
  flex-grow: 1;
}

.orderPrice {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: end;
}
.orderSum {
  margin: 0;
}

