.container {
  width: 272px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}
.container:hover{
  outline: 1px solid #00cccc;
  border-radius: 16px;

  
}
.image {
  width: 240px;
  height: 120px;
}
.currencyContainer {
  display: flex;
  align-items: center;
}
.ingredientName {
  padding: 0;
  margin: 0;
  text-align: center;
}
