.container {
  width: 272px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.image {
  width: 240px;
  height: 120px;
}
.currencyContainer {
  display: flex;
  align-items: center;
}
.ingredientName {
  padding: 0;
  margin: 0;
  text-align: center;
}
