.form {
  padding: 0;
  margin: 0;
  border: 0;
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  position: relative;
  gap: 24px;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}
.title {
  text-align: center;
   font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.label {
  width: 100%;
  position: relative;
}
.input {
  border: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background-color: #2f2f37;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.5px;
  font-family: inherit;
  box-sizing: border-box;
}

.inputBtn {
  position: absolute;
  top: 20px;
  right: 24px;
}
.clarification {
  margin: 56px 0 0 0;
    font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
