.trumb{
  background-color: #8585AD;
      color: #8554AD;
      width: 8;
      z-index: 1;
     
}
.trumbRight{
  top:10%;
  color: red; 
}
.trackLeft{
  background-color: #1c1c21;
  height: 800px;
  position: absolute;
  width: 6px;
  right: 2px;
  top: 2px;
  border-radius: 3px;
} 
.trackRight{
  background-color: #1c1c21;
  height: 600px;
  position: absolute;
  width: 6px;
  right: 2px;
  top: 13%;
  border-radius: 3px;
}