.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.wrapper {
  max-width: 1240px;
  width: 100%;
}
.title {
  margin: 0;
}
.subContainer {
  display: flex;
  justify-content: space-between;
}
.scrollWrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 600px;
  width: 100%;
  padding: 0 8px 0 0;
  margin: 0;
  gap: 16px;
  overflow-y: scroll;
  max-height: 900px;
}
.scrollWrapper::-webkit-scrollbar {
  width: 8px;
}
.scrollWrapper::-webkit-scrollbar-track {
  margin-bottom: 90px;
  background-color: var(--color-background-track);
}
.scrollWrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-default);
  height: 638px;
  width: 100%;
}
.link {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}
