.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.wrapper {
  max-width: 1240px;
  width: 100%;
}
.title {
  margin: 0;
}
.subContainer {
  display: flex;
  justify-content: space-between;
}
.orderWrapper {
  display: flex;
  flex-direction: column;

  max-width: 608px;
  width: 100%;

  padding-right: 8px;
  gap: 16px;
}

.scrollWrapper {
  composes: container;
  overflow-y: scroll;
  max-height: 716px;
}

.scrollWrapper::-webkit-scrollbar {
  width: 8px;
}
.scrollWrapper::-webkit-scrollbar-track {
  margin-bottom: 51px;
  background-color: #2f2f37;
}
.scrollWrapper::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  height: 492px;
  width: 100%;
}