.header {
  display: flex;
  justify-content: center;
  background-color: #1c1c21;
}
.container {
  display: grid;
  grid-template-columns: 383px 1fr 207px;
  column-gap: 8.5%;
  max-width: 1280px;
  width: 100%;
}

.navContainer {
  display: flex;

  align-items: center;
}
.navList {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  gap: 8px;
}
.navItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #8585ad;
}
.navItemActive {
  color: #fff;
}
.navItem:hover {
  color: #fff;
}
.logInBtn {
  flex-grow: 0;
}
