.wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingredientHeader {
  line-height: 64px;
  vertical-align: center;
  align-self: flex-start;
}
.compoundList {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}
 