.wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapperPage{
  composes: wrapper;
  padding-top: 120px;
}
.ingredientHeader {
  line-height: 64px;
  vertical-align: center;
  align-self: flex-start;
  margin: 0 auto;
}
.compoundList {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}
.loader{
  margin: 5% auto;
}