.container {
  width: 580px;
  display: flex;
  flex-direction: column;
}
.ingredientList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ingredientItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ingredientItemMain {
  height: 500px;
}
.ingredientItemLocked {
  justify-content: flex-end;
}

.ingredientElement {
  background-color: #1c1c21;
}

.currencyContainer {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding-bottom: 52px;
}
